.app {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  color: #98b5ff;
  //   color: white;
  letter-spacing: 0.5px;
  line-height: 18px;
  background: #031956;
  //   background: white;
}
.appBar {
  display: flex;
  flex-direction: column;
}
.toolbar {
  background: #344fa1;
  display: flex;
  justify-content: space-between;
}
.addInputForm {
  width: 100%;
}
.addItemFormContainer {
  display: flex;
}
.linearProgress {
  position: absolute !important;
  top: 60px;
  width: 100%;
}
.todolistsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0 15px;
}

//////TODOLIST////////
.todolistContainer {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 10px 10px;
  flex-basis: 280px;
  border-radius: 25px;
  background: #344fa1;

  transition: all ease 2s;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
.todolistTitleBlock {
  display: flex;
  align-items: center;
  padding: 7px 0px 7px 7px;
  background: #031956;
  //   background: rgb(70, 29, 29);
  background: #000000;
  border-radius: 18px;
}
.todolistTitle {
  text-align: center;
  color: #97b6fc;
  flex-basis: 100%;
  font-size: 16px;
  font-weight: 500;
  & > span {
    text-align: center;
  }
  &::first-letter {
    text-transform: uppercase;
  }
}

.tasksList {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 5px;
}
.blockButtons {
  display: flex;
  justify-content: space-between;
  & > * {
    //  background: rgb(164, 161, 161) !important;
    border-radius: 30px !important;
    padding: 5px 10px !important;
  }
}
///////TASK//////
.taskContainer {
  display: flex;
  align-items: center;
  background: #031956;
  border-radius: 18px;
  padding: 5px 0;
}
.taskCheckbox,
.deleteButton {
  align-self: flex-start;
}
.deleteButton {
  color: #98b5ff !important;
}
.taskCheckbox {
}

//////////////
.error {
  border: red 1px solid;
  outline: none;
}
.error_message {
  color: red;
}
.active {
  background: green;
}
.completed {
  opacity: 0.7;
  text-decoration: line-through;
}
///////////////

.editableTitle {
  width: 100%;
  display: inline-block;
  word-break: break-word;
  &::first-letter {
    text-transform: uppercase;
  }
}

.todolistTitleBlock textarea {
  text-align: center !important;
  font-size: 16px !important;
  font-weight: 500 !important;
}
textarea,
input {
  font-family: 'Montserrat', sans-serif !important;
  color: white !important;
  line-height: 18px !important;
  letter-spacing: 0.5px !important;
}
