@import '../../styles/mixins/mixinAdaptive';

.headerContainer {
  position: static !important;
  width: 100%;
}

.toolbar {
  display: flex;
  justify-content: center;
  padding: 0 15px !important;
  background: #344fa1;
  @media (max-width: 600px) {
    justify-content: flex-end;
  }
}

.button {
  position: absolute !important;
  right: 0;

  margin: 0px 15px 0px 15px !important;
  padding: 7px 12px !important;

  font-family: inherit !important;
  font-size: 12px !important;

  border-radius: 30px !important;
  @media (max-width: 600px) {
    right: unset;
    left: 0;
  }
}

.linearProgress {
  position: absolute !important;
  top: 60px;
  width: 100%;
  @media (max-width: 599px) {
    top: 55px;
  }
}

.input {
  @media (max-width: 600px) {
    @include adaptiveValue('width', 470, 160, 600, 280, 1);
  }
}
