.input {
  & > * {
    font-family: inherit !important;
  }

  label {
    font-weight: 500 !important;
    letter-spacing: 0.5px !important;
  }

  & input {
    font-size: 16px;
    font-weight: 500;
  }
}
